<nav class="navbar fixed-top navbar-expand-lg navbar-dark justify-content-between">
  <a class="navbar-brand">
    <img class="img-fluid logo-altran" src="assets/images/altran.png" alt="" srcset="" />
    <span class="quiz-title text-warning">{{'Qcm' | translate}}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="../../../assets/images/user-icon.png" width="35" height="35" class="d-inline-block" alt="">
          <span class="username" id="connected-user-name"> {{firstName}} {{lastName}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/administration/account" id="my-account">
            <span class="fa fa-user-circle text-warning"></span> {{'Mon compte' | translate}}
          </a>
          <a class="dropdown-item text-white" data-toggle="dropdown">
            <span class="fa fa-globe text-warning"></span> {{'Changer la langue' | translate}}
          </a>
          <ul class="dropdown-menu">
            <li class="col-lg-12 dropdown-submenu">
              <a href="#" class="col-lg-6 text-white" data-toggle="dropdown" (click)="useLanguage('fr')"><img src="../../../../assets/images/french.png"
                  width="15%"> FR</a>
              <a href="#" class="col-lg-6 text-white" data-toggle="dropdown" (click)="useLanguage('en')"><img src="../../../../assets/images/english.png"
                  width="15%"> EN</a>
            </li>
          </ul>
          <a class="dropdown-item" (click)="logout()" routerLink=""><span class="fa fa-power-off text-warning"></span>
            {{'Se déconnecter' | translate}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>